<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserMapper">
	<select id="allUser" resultType="pojo.User">
		select * from user
	</select>

	<!-- 方法一 -->
	<select id="selectUserById" parameterType="Integer"
		resultMap="userWithCardResult">
		select * from user where id=#{id}
	</select>
	
	<resultMap type="pojo.User" id="userWithCardResult">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="registertime" property="registertime" />
		<association column="card_id" property="card" javaType="pojo.Card"
			select="dao.CardMapper.selectCardById"></association>
	</resultMap>
	
	<!-- 方法二 -->
	<select id="selectUserById2" parameterType="Integer" resultMap="userWithCardResult2">
		select * from user inner join card where user.card_id=card.id and
		user.id=#{id}
	</select>
	
	<resultMap type="pojo.User" id="userWithCardResult2">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="registertime" property="registertime" />
		<association property="card" javaType="pojo.Card">
			<id property="id" column="card_id" />
			<result property="name" column="name" />
			<result property="birthday" column="birthday" />
			<result property="telephone" column="telephone" />
			<result property="address" column="address" />			
		</association>
	</resultMap>
	
	<!-- 方法三 -->
	<select id="selectUserById3" parameterType="Integer" resultType="pojo.UserCardVO">
		select u.*,c.name,c.birthday,c.telephone card_telephone,c.address 
		from user u inner join card c where u.card_id=c.id and u.id=#{id}
	</select>
	
	<!-- 根据名称查询 -->
	<!-- 方法一 -->
		<select id="selectUserName" parameterType="string"
		resultMap="userWithCardName">
		select * from user where username=#{username}
	</select>
	
	<resultMap type="pojo.User" id="userWithCardName">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="registertime" property="registertime" />
		<association column="card_id" property="card" javaType="pojo.Card"
			select="dao.CardMapper.selectCardById"></association>
	</resultMap>
	
	<!-- 方法二 -->
	<select id="selectUserName2" parameterType="string" resultMap="userWithCardName2">
		select * from user inner join card where user.card_id=card.id and
		user.username=#{username}
	</select>
	
	<resultMap type="pojo.User" id="userWithCardName2">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="registertime" property="registertime" />
		<association property="card" javaType="pojo.Card">
			<id property="id" column="card_id" />
			<result property="name" column="name" />
			<result property="birthday" column="birthday" />
			<result property="telephone" column="telephone" />
			<result property="address" column="address" />			
		</association>
	</resultMap>
	
	<!-- 方法三 -->
	<select id="selectUserName3" parameterType="string" resultType="pojo.UserCardVO">
		select u.*,c.name,c.birthday,c.telephone card_telephone,c.address 
		from user u inner join card c where u.card_id=c.id and u.username=#{username}
	</select>
	
	<select id="selectUserByDate" parameterType="Date"
		resultType="pojo.User">
		select * from user where registertime > #{registertime}
	</select>

	<insert id="insertUser" parameterType="pojo.User"
		keyProperty="id" useGeneratedKeys="true">
		insert into user(id, username,
		password, telephone) values(null, #{username}, #{password},
		#{telephone})
	</insert>

	<update id="updateUser" parameterType="pojo.User">
		update user set
		username=#{username}, password=#{password}, telephone=#{telephone}
		where id=#{id}
	</update>

	<delete id="deleteUser" parameterType="pojo.User">
		delete from user where
		id=#{id}
	</delete>
</mapper>
