<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="cn.lmu.bookstore.dao.OrderItemMapper">
    <!-- 新增订单明细项目 -->
    <insert id="createOrderItem"  parameterType="OrderItem">
        insert into orderItem(
                         order_id,
                         product_id,
                         buyNum,
                         buyPrice
                 )
                 values(#{order.id},
                        #{product.id},
                        #{buyNum},
                        #{buyPrice}                   
                )            
    </insert>  
</mapper>