<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cz_JDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>GetProdServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProdServlet</display-name>
    <servlet-name>AddProdServlet</servlet-name>
    <servlet-class>cz_JDBC.servlets.AddProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProdServlet</servlet-name>
    <url-pattern>/AddProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProdServlet</display-name>
    <servlet-name>DeleteProdServlet</servlet-name>
    <servlet-class>cz_JDBC.servlets.DeleteProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProdServlet</servlet-name>
    <url-pattern>/DeleteProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProdServlet</display-name>
    <servlet-name>EditProdServlet</servlet-name>
    <servlet-class>cz_JDBC.servlets.EditProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProdServlet</servlet-name>
    <url-pattern>/EditProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProdServlet</display-name>
    <servlet-name>GetProdServlet</servlet-name>
    <servlet-class>cz_JDBC.servlets.GetProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProdServlet</servlet-name>
    <url-pattern>/GetProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>cz_JDBC.servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cz_JDBC.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>