<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Book_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>servlets.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>servlets.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>servlets.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookServlet</display-name>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>servlets.EditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/EditBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookServlet</display-name>
    <servlet-name>GetBookServlet</servlet-name>
    <servlet-class>servlets.GetBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookServlet</servlet-name>
    <url-pattern>/GetBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>servlets.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>servlets.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>servlets.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentServlet</display-name>
    <servlet-name>GetStudentServlet</servlet-name>
    <servlet-class>servlets.GetStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentServlet</servlet-name>
    <url-pattern>/GetStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook_StudentServlet</display-name>
    <servlet-name>AddBook_StudentServlet</servlet-name>
    <servlet-class>servlets.AddBook_StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook_StudentServlet</servlet-name>
    <url-pattern>/AddBook_StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBook_StudentServlet</display-name>
    <servlet-name>EditBook_StudentServlet</servlet-name>
    <servlet-class>servlets.EditBook_StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBook_StudentServlet</servlet-name>
    <url-pattern>/EditBook_StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBook_StudentServlet</display-name>
    <servlet-name>GetBook_StudentServlet</servlet-name>
    <servlet-class>servlets.GetBook_StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBook_StudentServlet</servlet-name>
    <url-pattern>/GetBook_StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSortServlet</display-name>
    <servlet-name>AddSortServlet</servlet-name>
    <servlet-class>servlets.AddSortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSortServlet</servlet-name>
    <url-pattern>/AddSortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSortServlet</display-name>
    <servlet-name>DeleteSortServlet</servlet-name>
    <servlet-class>servlets.DeleteSortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSortServlet</servlet-name>
    <url-pattern>/DeleteSortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSortServlet</display-name>
    <servlet-name>GetSortServlet</servlet-name>
    <servlet-class>servlets.GetSortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSortServlet</servlet-name>
    <url-pattern>/GetSortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdminServlet</display-name>
    <servlet-name>EditAdminServlet</servlet-name>
    <servlet-class>servlets.EditAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdminServlet</servlet-name>
    <url-pattern>/EditAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSortServlet</display-name>
    <servlet-name>EditSortServlet</servlet-name>
    <servlet-class>servlets.EditSortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSortServlet</servlet-name>
    <url-pattern>/EditSortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBook_StudentServlet2</display-name>
    <servlet-name>EditBook_StudentServlet2</servlet-name>
    <servlet-class>servlets.EditBook_StudentServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBook_StudentServlet2</servlet-name>
    <url-pattern>/EditBook_StudentServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>servlets.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindBook_StudentServlet</display-name>
    <servlet-name>FindBook_StudentServlet</servlet-name>
    <servlet-class>servlets.FindBook_StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindBook_StudentServlet</servlet-name>
    <url-pattern>/FindBook_StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindBookServlet</display-name>
    <servlet-name>FindBookServlet</servlet-name>
    <servlet-class>servlets.FindBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindBookServlet</servlet-name>
    <url-pattern>/FindBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindStudentServlet</display-name>
    <servlet-name>FindStudentServlet</servlet-name>
    <servlet-class>servlets.FindStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStudentServlet</servlet-name>
    <url-pattern>/FindStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSortServlet</display-name>
    <servlet-name>FindSortServlet</servlet-name>
    <servlet-class>servlets.FindSortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSortServlet</servlet-name>
    <url-pattern>/FindSortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet2</display-name>
    <servlet-name>AddBookServlet2</servlet-name>
    <servlet-class>servlets.AddBookServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet2</servlet-name>
    <url-pattern>/AddBookServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>client.servlets.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chaxun</display-name>
    <servlet-name>chaxun</servlet-name>
    <servlet-class>client.servlets.chaxun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chaxun</servlet-name>
    <url-pattern>/chaxun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>client.servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookServlet2</display-name>
    <servlet-name>EditBookServlet2</servlet-name>
    <servlet-class>client.servlets.EditBookServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookServlet2</servlet-name>
    <url-pattern>/EditBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>client.servlets.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookServlet2</display-name>
    <servlet-name>GetBookServlet2</servlet-name>
    <servlet-class>client.servlets.GetBookServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookServlet2</servlet-name>
    <url-pattern>/GetBook</url-pattern>
  </servlet-mapping>
</web-app>